<script type="text/javascript">
    function validateForm(){
        var keyword = document.forms["searchForm"]["keyword"].value;
        console.log("keyword="+keyword);
        if (keyword == null || keyword == "") {
            console.log("keyword is null, so am I");
            return true;
        }
    }
</script>

<div class="content">
  <div id="logo">
    <a href="/">
      <img alt="JPetStore" src="/images/logo.png"/>
    </a>
  </div>
  <div id="search-box">
    <form name="searchForm"  action="/products" method="get" onsubmit="return validateForm()">
      <input id="keyword" name="keyword" type="text" size="20"/>
      <button id="search">
        <img src="/images/magnifier.png"/>
      </button>
    </form>
  </div>
  <div id="menu">
    <ul>
      <li id="home" class="overline {{section}}">
        <a href="/">Home</a>
      </li>
      <li id="shopping-cart" class="overline {{section}}">
{{#cart}}
      <a href="/cart">Cart ({{cartQuantity}})</a>
{{/cart}}
{{^cart}}
          Cart (0)
{{/cart}}
      </li>
        <li  class="overline {{section}}">
            <a id="about" href="/about">About</a>
        </li>
    </ul>
    <div id="tab" class="{{section}}">
      <img src="/images/tab.png"/>
    </div>
  </div>
</div>