<html>
<head>
  <title>About</title>
</head>
<body>

<table id="contacts" cellpadding="5">

    <tr>
        <td><img  src="/photos/bene.gif" onMouseOver="this.src='/photos/benehover.gif'"/></td>
        <td>Bénédicte</td>
        <td>Experte GIT</td>
    </tr>

    <tr>
        <td><img src="/photos/vincent.gif"/></td>
        <td>Vincent</td>
        <td>Expert en séduction</td>
    </tr>

    <tr>
        <td><img src="/photos/rene.gif"/></td>
        <td>René</td>
        <td>Si j'avais un marteau</td>
    </tr>

    <tr>
        <td><img src="/photos/manu.gif"/></td>
        <td>Manu</td>
        <td>J'ai faim !!!</td>
    </tr>

    <tr>
        <td><img src="/photos/richard.gif"/></td>
        <td>Richard</td>
        <td>Quel coup de pédale</td>
    </tr>

    <tr>
        <td><img src="/photos/ludo.gif"/></td>
        <td>Ludovic</td>
        <td>Droid man</td>
    </tr>


</table>

</body>
</html>